.UI-Label{
    text-align: center;
}

.welcome-text{
    margin: auto;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}
.user-info{
    margin: auto;
    padding: 50px;
    background-color: red;
    color: black;
}